html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
}
.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}
.container {
    max-width: 1080px;
    padding: 0 15px;
    width: auto;
}
.container .text-muted {
    margin: 20px 0;
}

#content {
    padding-top: 60px;
}


.container .text-muted {
    margin: 20px 0;
}

#sim-title {
    padding: 0 0 20px 0;
}

#sim-info{
    padding: 0 0 20px 0;
}

.jumbotron > h1{
    font-family: 'Righteous', cursive;
}

.jumbotron > h1 small{
    font-family: 'Poiret One', cursive;
}

#sharebtn {
    display: inline-block;
}

#title {
    padding-top: 20px;
    padding-bottom: 20px;
}