{% extends "layout.html" %}

{% block content %}
<div class="page-header">
  <h1>关于 Chi</h1>
</div>
<p>随便说点什么吧……</p>
<ul class="list-group">
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Q: Pourquoi...?</h4>
    <p class="list-group-item-text">A: Parce que...</p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Q: Pourquoi...?</h4>
    <p class="list-group-item-text">A: Parce que...</p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Q: Pourquoi...?</h4>
    <p class="list-group-item-text">A: Parce que...</p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Q: Pourquoi...?</h4>
    <p class="list-group-item-text">A: Parce que...</p>
  </li>
</ul>
{% endblock %}