{% extends "layout.html" %}

{% block content %}
<div class="page-header">
  <h1>关于 Chi</h1>
</div>
<ul class="list-group">
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Q: 什么是 Chi？</h4>
    <p class="list-group-item-text">A: Chi 是 Future Bangumi Labatoratory 的一个中二代号，取名于 Chii，读音为/ˈkaɪ/。同时 Chi 也代表著名的 Chi-squared distribution，意在使用统计学习的方法进行社区网络实验。</p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Q: 什么是 Bangumi？Bangumi 和 Chi 是什么关系？</h4>
    <p class="list-group-item-text">A: <a href="http://chii.in">Bangumi</a> 是由 <a href="http://chii.in/user/sai">Sai</a> 于桂林发起的 ACG 分享与交流项目，致力于让阿宅们在欣赏ACG作品之余拥有一个轻松便捷独特的交流与沟通环境。<br/>Chi 是 Bangumi 用户<a href="http://chii.in/user/wattlebird"> Genius、小乖 </a>的个人项目，和 Bangumi 官方没有任何关系。其个人项目的动机只是喜欢 Bangumi 而已。当然，Chi 的取名受到了 Bangumi 的启发。</p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Q: 使用 Chi 的条件是什么？</h4>
    <p class="list-group-item-text">A: 您必须是 Bangumi 用户才能获得自己在 Bangumi 社区的信息。</p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Q: 为什么我已经是 Bangumi 注册用户了，为什么我无法查看我的同步率？</h4>
    <p class="list-group-item-text">A: 首先请确保您是在 2015年1月15日前注册 Bangumi。由于所有的数据都是在这个日期前爬取的，我们无法对此日期之后的用户收藏和改动进行任何更新。<br/>然后请您确保在 2015年1月15日前您在 Bangumi 收藏至少一部作品。<br/>如果您确定您符合以上两条，却仍然无法查看同步率，请务必告诉我们，谢谢！</p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Q: 2015年1月15日之后注册的 Bangumi 用户怎么办？</h4>
    <p class="list-group-item-text">A: 唔，Chi 归根结底还是一个个人项目，所以我们无法实时对用户收藏的更改进行同步率的更改。目前我们的计划是在一月、四月、七月和十月的第二个星期日开始重新爬取 Bangumi 数据，在这之后一两个星期 Chi 会作出例行更新，届时您就可以查看到自己的社区信息了。</p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Q: 我发现了一个 Bug，怎样报错？</h4>
    <p class="list-group-item-text">A: 您可以前往该项目的 Github 页面报错，也可以直接在 Bangumi上联系<a href="http://chii.in/user/wattlebird"> Genius、小乖</a>。</p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Q: 未来 Chi 会推出什么新功能？</h4>
    <p class="list-group-item-text">A: 我也不知道，大概把<a href="https://www.coursera.org/course/mmds"> Mining Massive Datasets </a>上的算法都轮一遍吧。</p>
  </li>
</ul>
<blockquote id="quotation">
  <p class="text-muted">The only thing worse than being talked about is not being talked about.</p>
  <footer>Oscar Wilde</footer>
</blockquote>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'chiproject'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
{% endblock %}