{% extends "layout.html" %}

{% block content %}
<h3 id="title">Hi <a href="http://chii.in/user/{{ username }}" data="{{ username }}" class="userlink">&commat;{{ username }}</a>! 你与 <a href="http://chii.in/user/{{ candidate }}" data="{{ candidate }} " class="userlink">&commat;{{ candidate }}</a> 的同步率如下：</h3>
  <div class="row">
    <div class="col-sm-2" data="{{ candidate }}" class="userblock">
      <a href="http://chii.in/user/{{ candidate }}" class="pull-right">&commat;{{ candidate }}</a><span></span>
    </div>
    <div class="col-sm-8">
      <div class="progress">
      {% if similarity>0.95 %}
        <div class="progress-bar  progress-bar-danger" role="progressbar"
          aria-valuenow="{{ similarity*100 }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ similarity*100 }}%">
          {{ similarity*100 }}%
        </div>
      {% elif similarity>0.8 %}
        <div class="progress-bar  progress-bar-warning" role="progressbar"
          aria-valuenow="{{ similarity*100 }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ similarity*100 }}%">
          {{ similarity*100 }}%
        </div>
      {% else %}
        <div class="progress-bar  progress-bar-info" role="progressbar"
          aria-valuenow="{{ similarity*100 }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ similarity*100 }}%">
          {{ similarity*100 }}%
        </div>
      {% endif %}
      </div>
    </div>
    <div class="col-sm-2" data="{{ username }}" class="userblock">
      <a href="http://chii.in/user/{{ username }}">&commat;{{ username }}</a><span></span>
    </div>
  </div>
  {% if rank %}
  <p>&commat;{{ candidate }} 在 &commat;{{ username }} 和全站有收藏条目的 BGMer 同步率中排名处于排名第<span class='lead'> {{ rank }} </span>位的位置，超过了{{ rankpercent }}% 的 BGMer！（喂</p>
  <div class="row">
  <div class="col-sm-offset-2 col-sm-8">
  <div class="progress">
        <div class="progress-bar  progress-bar-danger" role="progressbar"
          aria-valuenow="{{ rankpercent }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ rankpercent }}%">
          {{ rankpercent }}%
        </div>
  </div>
  </div>
  </div>
  {% endif %}
  <div class="row">
  <div class="col-sm-offset-8 col-sm-4" id="sharebtn">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Wow! 我在 Chi（Bangumi 未来实验室）上看到了自己和其他 BGMer 的同步率！你也快来试试吧！" data-via="wattlebird_01">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <!-- Place this tag where you want the +1 button to render. -->
    <div class="g-plusone" data-size="medium"></div>
    <!-- G+ -->
    <script src="https://apis.google.com/js/platform.js" async defer>
      {lang: 'zh-CN'}
    </script>

    <html xmlns:wb="http://open.weibo.com/wb">
    <wb:share-button addition="number" type="button" ralateUid="1932009591" default_text="Wow! 我在 Chi（Bangumi 未来实验室）上看到了自己和其他 BGMer 的同步率！你也快来试试吧！" picture_search="false"></wb:share-button>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
  </div>
  </div>
{% endblock %}