{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <h1>Chi <small>Future Bangumi laboratory</small></h1>
  <p>Chi 是一个致力于网络社区实验的个人项目。该项目拥有者为 BGMer <a href="http://chii.in/user/wattlebird">Genius、小乖</a>。该项目将利用当前成熟的机器学习研究成果为 BGMer 带来更好的社区用户体验。</p>
  <p><a class="btn btn-primary btn-lg" href="{{ url_for('about') }}" role="button">了解更多……</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>同步率・改</h2>
          <p>利用您的收藏和评分信息为您寻找 bgm 同好，查看您与您好友之间的同步率。</p>
          <p><a class="btn btn-primary" href="{{ url_for('similarity') }}" role="button">了解更多……</a></p>
    </div>
    <div class="col-md-4">
          <h2>快将推出……</h2>
          <p><a class="btn btn-default" href="#" disabled="disabled" role="button">了解更多……</a></p>
    </div>
    <div class="col-md-4">
          <h2>快将推出……</h2>
          <p><a class="btn btn-default" href="#" disabled="disabled" role="button">了解更多……</a></p>
    </div>
</div>
<blockquote id="quotation">
  <p class="text-muted">‚Alle gebruiksters van Bangumi-chan zijn vriendinnen.’</p>
  <footer><a href="http://chii.in/group/topic/41720#post_729273">Ƹ̵̡Ӝ̵̨̄Ʒ</a></footer>
</blockquote>
{% endblock %}